{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>用户可视化分析系统</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="nav-header">
                <a class="navbar-brand" href="{% url 'userApp:index' %}">用户可视化分析系统</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                </button>
            </div>

            <div id="navbarNav" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link">欢迎 {{user.username}} 登录</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'adminApp:logout' %}">注销</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'adminApp:register' %}">注册</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'adminApp:login' %}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>

    <div class="container">
        <div class="page-header">
            {% block header %}
            {% endblock header %}
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>
