{% extends "userApp/base.html" %}

{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button name="submit">确定</button>
    </form>
</div>


<div class="echarts">
    <h2>图表</h2>
    <table width "90%" border="1">
        <tr>
            <td> {% include "map_cn_to_sx.html" %} </td>
            <td rowspan="2">{% include "tbl_cn_to_sx.html" %} </td>
        </tr>
        <tr>
            <td> {% include "map_zj_to_sx.html" %} </td>
        </tr>

        <tr>
            <td> {% include "map_sx_to_cn.html" %} </td>
            <td rowspan="2"> {% include "tbl_sx_to_cn.html" %} </td>
        </tr>
        <tr>
            <td>{% include "map_sx_to_zj.html" %} </td>
        </tr>

        <tr>
            <td> {% include "bar.html" %} </td>
        </tr>
    </table>
</div>

{% endblock content %}
