{% extends "userApp/base.html" %}
{% load bootstrap4 %}
{{ form.media }}

{% block content %}
<form action="{% url 'userApp:maps' %}" method="post" class="form-inline">
    <h4>请选择查询日期：</h4>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='确定' %}
    {% endbuttons %}
</form>

<table border="1">
    <tr>
        <td> {% include "map_cn_to_sx.html" %} </td>
        <td rowspan="2">{% include "tbl_cn_to_sx.html" %} </td>
    </tr>
    <tr>
        <td> {% include "map_zj_to_sx.html" %} </td>
    </tr>

    <tr>
        <td> {% include "map_sx_to_cn.html" %} </td>
        <td rowspan="2"> {% include "tbl_sx_to_cn.html" %} </td>
    </tr>
    <tr>
        <td>{% include "map_sx_to_zj.html" %} </td>
    </tr>
</table>

{% endblock content %}
